{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}Toubarefane{% endblock %}</title>

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('styles/layout.css') }}" type="text/css" />
      
      <link rel="stylesheet" type="text/css" href="{{ asset('lecteuraudio/css/html5audio.css') }}" />
        
    {% endblock %}
   
  </head>

  <body>
  <div id="site-container">
  <div id="header">
    <ul>
          <li class="fl_left">
          </li>
          <li class="fl_center">
          </li>
          <li class="fl_right">
          </li>
        </ul>
      <br class="clear" />
      <p align="center"><marquee><h1>&nbsp;&nbsp;&nbsp;واجعل قلوبنا على التّوادد  بلا تنازع ولا تحاسد &nbsp;&nbsp;&nbsp;&nbsp;</h1></marquee></p>
    
  </div>

<!-- ####################################################################################################### -->
<div class="wrapperm col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li class="active"><a href="{{ path('toubarefanesite_accueil')}}">Accueil</a></li>
        <li><a href="#">Audios</a>
          <ul>
            <li><a href="{{ path('toubarefaneaudio_kh')}}">Kourel</a></li>
            <li><a href="{{ path('toubarefaneaudio_radias')}}">Radias</a></li>
            <li><a href="{{ path('toubarefaneaudio_coran')}}">Coran</a></li>
            <li><a href="{{ path('toubarefaneaudio_wakhtane')}}">Wakhtane</a></li>
            <li><a href="{{ path('toubarefaneaudio_segnesam')}}">Serigne Sam Mbaye</a></li>
          </ul>
        </li>
        <li><a href="#">Videos</a>
          <ul>
            <li><a href="{{ path('toubarefanevideo_kh')}}">Khassida</a></li>
            <li><a href="#">Wakhtane</a></li>
            <li><a href="#">Autres Vidéos</a></li>
          </ul>
        </li>
         <li><a href="{{ path('toubarefanesite_album')}}">Photos</a></li>
           <li class="last"><a href="{{ path('toubarefanesite_magaltoubarefane')}}">Magal de Touba Refane</a></li>
          <li class="last"><a href="{{ path('toubarefanesite_almouridiya')}}">Al Mouridiyyah</a></li>
        <li class="last"><a href="{{ path('toubarefanesite_contact')}}">Contact</a></li>
      </ul>
    </div>
       {#
    <div id="search">
      <form action="#" method="post">
        <fieldset>
          <legend>Recherche</legend>
          <input type="text" value="Rechercher"  onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="Rechercher" />
        </fieldset>
      </form>
    </div>
#}
      <div id="suivre">
          <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
         
          <div class="fb-like" data-href="http://www.toubarefane.com/accueil/video" data-layout="button_count" data-type="icon" data-action="like" data-show-faces="true" data-share="true"></div>
           <div class="twitter"><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<a href="http://www.toubarefane.com/accueil/video" class="twitter-share-button">Tweet</a>

</div>
           
            
    </div>
    <br class="clear" />
  </div>
</div>

<div class="wrapper col4">
  <div id="container">
    
       <div id="top">
          {% block body %}
          {% endblock %}
        </div>
   
    
    <br class="clear" />
  </div>
  <br class="clear" />
</div>

<!-- ####################################################################################################### -->
<div class="wrappers col6">
  <div id="footer">
    {# <div class="footbox twitter">
      <h2>Latest From Twitter</h2>
      <ul>
        <li><a href="#">@TwitterName</a> nibhpede faucibulum ris phasellentum elit sed hend quisque.  1 day ago</li>
        <li><a href="#">@TwitterName</a> tellentumst monterdum augue curabitae elit felit, elitligula adipiscingilla. 1 day ago</li>
        <li><a href="#">@TwitterName</a> libero praesentum sed? 1 day ago</li>
        <li><a href="#">@TwitterName</a> condimentesque nec facilis pretium tellenterdum. Vivamusid elit curabitur augue. 1 day ago</li>
        <li><a href="#">@TwitterName</a> ligula sed ipsum in tellentesque donec ac. 1 day ago</li>
      </ul>
    </div>
    <div class="footbox flickr">
      <h2>Latest From Flickr</h2>
      <ul>
        <li><a href="#"><img src="{{ asset('images/demo/80x80.gif') }}" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('images/demo/80x80.gif') }}" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('images/demo/80x80.gif') }}" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('images/demo/80x80.gif') }}" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('images/demo/80x80.gif') }}" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('images/demo/80x80.gif') }}" alt="" /></a></li>
      </ul>
      <br class="clear" />
    </div>
    <div class="footbox posts">
      <h2>Latest Blog Posts</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Phasellus tempor vestibulum</a></li>
        <li><a href="#">Vestibulum quis augu mauris</a></li>
        <li class="last"><a href="#">Suspendisse in neque</a></li>
      </ul>
    </div>
    <div class="footbox banners last">
      <h2>Advertise Here</h2>
      <ul>
        <li><a href="#"><img src="{{ asset('images/demo/200x150.gif') }}" alt="" /></a></li>
        <li><a href="#"><img src="{{ asset('images/demo/200x150.gif') }}" alt="" /></a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
#}
 <div id="menuhaut">
    <ul>
          <li>
              <a href="{{ path('toubarefaneaudio_kh')}}">Forum</a>
          </li>
            
          <li>
              <a href="{{ path('toubarefaneaudio_kh')}}">TV</a>
          </li>
          <li>
              <a href="{{ path('toubarefaneaudio_kh')}}">Radio</a>
          </li>
        </ul>
     
  </div>
<!-- ####################################################################################################### -->
<div class="wrapperc col7">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">toubarefane.com</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">diopref</a></p>
    <br class="clear" />
  </div>
    
</div>
  </div>
{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    
        <script type="text/javascript" src="{{ asset('"http://code.jquery.com/jquery-1.8.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-1.8.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.mousewheel.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.jscrollpane.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('lecteuraudio/js/soundmanager.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/jquery.html5audio.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.apPlaylistManager.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.apTextScroller.min.js') }}"></script>
       
  {% endblock %}
        
</body>
</html>
