{# src/Sdz/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "ToubarefaneSiteBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
{#
  <h2>Liste des articles disp</h2>

  <p>
    {% for article in articles %}
      <ol>
        <a href="{{ path('toubarefanesite_voir', {'id': article.id}) }}">{{ article.titre }}</a>
        par {{ article.auteur }},
        le {{ article.date|date('d/m/Y') }}
      </ol>
      <h3>audio<audio src="{{asset('audio/mafatih.mp3')}}" controls width="100" height="50"></audio></h3>
      <h3>video<video src="{{asset('video/HDKH.mp4')}}" controls width="200" height="150"></video></h3>
    {% else %}
      <li>Pas (encore !) d'articles</li>
    {% endfor %}
  </p>#}<div id="content">
  
  <div id="featured_post">

   <p>
  {# On vérifie qu'une image soit bien associée à l'article #}
       {% for article in articles %}
{% if loop.first %}
    <img src="{{ asset(article.image.uploadDir ~ '/' ~article.image.url ) }}"  alt="{{ article.image.alt }}" />
  

    {{ article.titre }}
  </p>
  <i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>

  <p>
    {{ article.contenu }}
  </p>
{% endif %}
  {% endfor %}
  </div>
  <div><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-href="http://toubarefane.com" data-numposts="5" data-colorscheme="light"></div>
  </div>
       {#
      <div id="hpage_latest">
        <ul>
                   {% for article in articles %}
          <li><img src="{{ asset(article.image.uploadDir ~ '/' ~article.image.url ) }}" alt="{{ article.image.alt }}" />
            <p> {{ article.contenu }}</p>
            <p class="readmore"><a href="{{ asset(article.image.uploadDir ~ '/' ~article.image.url ) }}">Continue Reading &raquo;</a></p>
          </li>
            {% endfor %}
         
        </ul>
        <br class="clear" />
      </div>
#}
  </div>
  <div id="column">
      <ul id="latestnews">
        
          <li><br> <iframe width="230" height="200" src="//www.youtube.com/embed/XXtye3imFqs?list=UUseTxi4rhrzw4ugitMZAQCw" frameborder="0" allowfullscreen></iframe>
             </li>
             <p><strong><a href="#">Mame Mor Tine</a></strong> Gamou 2014</p>
     
       
      </ul>
    </div>
  {#
<div class="pagination">
    <ul>
      {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b 
      {% for p in range(1, nombrePage) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('toubarefanesite_accueil', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
#}
{% endblock %}
   