{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layout.html.twig" %}

{% block title %}
  Magal de Touba Refane - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
 <div id="magaltoubarefane">
 {% for article in articles %}
    {% if article.titre =="magaltoubarefane" %}
   <h2>
  {# On vérifie qu'une image soit bien associée à l'article #}
  {% if article.image is not null %}
   <img
  src="{{ asset(article.image.uploadDir ~ '/' ~ article.image.url) }}"
  alt="{{ article.image.alt }}"
/>
  {% endif %}

    {{ article.titre }}
  </h2>
  <i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>

  <div id="contenu">
    {{ article.contenu }}
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}