{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
  
 {% for article in articles| reverse %}
  <article class="col-xs-12 col-md-6 col-lg-6">
                    <div class="panel">
                        <div class="panel-heading">
                     {# On vérifie qu'une image soit bien associée à l'article #}
                            {% if article.file is not null %}
                            {% if article.file.type=="image" %}
                            
                            <img class="img-responsive" src="{{ asset(article.file.uploadDir ~ '/' ~article.file.url ) }}"  alt="{{ article.file.name }}" />
                           {% elseif article.file.type=="video" %}
                            
                           <video class="img-responsive" src="{{ asset(article.file.uploadDir ~ '/' ~article.file.url ) }}"  controls="controls" type="video/mp4"><p>{{ article.file.name }}</p></video>  
                           {% else %}
                           
                           <audio class="img-responsive" src="{{ asset(article.file.uploadDir ~ '/' ~article.file.url ) }}"  controls="controls" >{{ article.file.name }}</audio>
                           
                           {% endif %}
                          {% endif %}
                        
                           <title> {{ article.titre }}</title>
  
                            <i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>

                           <div class="well">
                            {{ article.contenu }}
                           </div>
                          
                         </div>
                    </div>
   </article>
{% endfor %}
   {% include "ToubarefaneSiteBundle:Site:videoaccueil.html.twig" %}
{% endblock %}