{# src/Toubarefane/SiteBundle/Resources/views/Site/modifier.html.twig #}

{% extends "ToubarefaneSiteBundle::layoutAdmin.html.twig" %}

{% block title %}
  Supprimer un audio - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}

    <h2>Supprimer un audio</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'audio "{{ audio.alt }}" ?
  </p>

  {# On met l'id de l'video dans la route de l'action du formulaire #}
  <form action="{{ path('toubarefaneadmin_supprimeraudio', {'id': audio.id}) }}" method="post">
    <a href="{{ path('toubarefaneadmin_tousaudio') }}" type="button" class="btn btn-info">
      <i class="icon-chevron-left"></i>
      Retour aux audios
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}