{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layoutAdmin.html.twig" %}

{% block title %}
  Tous les photos - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}
 {% for audio in audio | reverse %}
         
          <div class="col-lg-3 col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                       <audio class="gaudio img-responsive"  src="{{ asset(audio.uploadDir ~ '/' ~audio.url ) }}"  controls >{{ audio.alt }}</audio>
                        </div>
                    </div>
               </div>
                       <p>{{audio.url}}</p>
                       <a href="{{ path('toubarefaneadmin_supprimeraudio', {'id': audio.id}) }}" type="button" class="btn-sm btn-danger">
                        <i class="icon-trash"></i>
                       Supprimer
                        </a>
         
{% endfor %}
{% endblock %}