{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "ToubarefaneSiteBundle::layoutAdmin.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block toubarefanesite_body %}

   <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="panel">
                         <h2>{{ article.titre }}</h2>
                        <div class="panel-heading">
  {# On vérifie qu'une image soit bien associée à l'article #}
                            {% if article.file is not null %}
                            {% if article.file.type=="image" %}
                            <img class="oimg img-responsive" src="{{ asset(article.file.uploadDir ~ '/' ~article.file.url ) }}"  alt="{{ article.file.name }}" />
                            {% elseif article.file.type=="video" %}
                            
                             <video class="oimg img-responsive" src="{{ asset(article.file.uploadDir ~ '/' ~article.file.url ) }}"   controls="controls" type="video/mp4"><p>{{ article.file.name }}</p></video>  
                             {% elseif article.file.type=="youtube" %}
                            {% set clef=article.file.description |slice(38,35)%}
                             {% set url='<iframe width="570" height="400" src="lien?rel=0&amp;autoplay=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>' %}
                              <li class="img-responsive"> {{ url | replace({'lien': clef}) | raw  }}</li>
                              {% else %}
                             <audio class="oimg img-responsive" src="{{ asset(article.file.uploadDir ~ '/' ~article.file.url ) }}"  controls >{{ article.file.name }}</audio>
                             {% endif %}
                             {% endif %}
                       
                           
  
                             <i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>

                              <div class="well">
                             {{ article.contenu }}
                             </div>
                             <p>
                         <a href="{{ path('toubarefaneadmin_voirtous') }}" type="button" class="btn btn-info">
                         <i class="icon-chevron-left"></i>
                              Retour à la liste
                         </a>
                                 {% if article.file.type=="youtube" %}
                           <a href="{{ path('toubarefaneadmin_modifieryoutube', {'id': article.id}) }}" type="button" class="btn btn-success">
                          <i class="icon-edit"></i>
                            Modifier l'article
                           </a>
                              {% else %}    
                         <a href="{{ path('toubarefaneadmin_modifier', {'id': article.id}) }}" type="button" class="btn btn-success">
                          <i class="icon-edit"></i>
                            Modifier l'article
                           </a>
                                  {% endif %}
                          <a href="{{ path('toubarefaneadmin_supprimer', {'id': article.id}) }}" type="button" class="btn btn-warning">
                          <i class="icon-edit"></i>
                            Supprimer l'article
                           </a>
                          </p>
                           </div>
                    </div>
   </div>

  

{% endblock %}