{% extends "ToubarefaneUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}
{% block stylesheets %}
     
    <link href="{{ asset('bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css">

    <!-- MetisMenu CSS -->
    <link href="{{ asset('bootstrap/css/plugins/metisMenu/metisMenu.min.css')}}" rel="stylesheet" type="text/css">

    <!-- Timeline CSS -->
    <link href="{{ asset('bootstrap/css/plugins/timeline.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ asset('bootstrap/css/sb-admin-2.css')}}" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <link href="{{ asset('bootstrap/css/plugins/morris.css')}}" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="{{ asset('bootstrap/font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    
</head>
{% endblock %}


<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                   
                       <form name="login-form" class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                            <fieldset>
                                <div class="form-group">
                    <!--USERNAME--><input type="text" id="username" name="_username"  required="required"  class="form-control" value="Email" onfocus="this.value=''" /><!--END USERNAME-->
                                </div>
                                 <div class="form-group">
                   <!--PASSWORD--><input type="password" id="password" name="_password" required="required" class="form-control" value="Mot de passe" onfocus="this.value=''" /><!--END PASSWORD-->
 
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                              <input type="submit" name="submit" value="Connexion" class="btn btn-lg btn-success btn-block" />
                              
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
    {% block javascripts %}
    <!-- jQuery Version 1.11.0 -->
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js')}}"></script>
     
    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/metisMenu.min.js')}}"></script>

    <!-- Morris Charts JavaScript -->
    <script type="text/javascript" src="{{ asset('js/plugins/morris/raphael.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/morris/morris.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/morris/morris-data.js')}}"></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="{{ asset('js/sb-admin-2.js')}}"></script>
  
   
  {% endblock %}

  </body>
 {% endblock fos_user_content %}